.main {
  width: 100%;
  flex: 1 1 auto;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: inherit;
  background-image: url('https://html.thimpress.com/hotelwp/images/slides/h4-slider-1.jpg');
}
