.back {
    display: flex;
    flex-direction: column;
    font-family: Playfair Display;
    justify-content: center;
    color: black;
    align-items: center;
    background-color: whitesmoke;
}


.title {
    width: 100%;
    color: #767676;
    display: flex;
    justify-content: center;
    margin: 1.5rem 0rem;
}

.main_content {
    width: 85%;
    display: flex;
    justify-content: space-between;
}


.cartInfo {
    width: 70%;
    display: flex;
    flex-direction: column;

}

.location {
    padding: 0rem 1rem;
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
    align-items: center;
    height: 3rem;
    display: flex;
    width: 100%;
    background-color: white;
}

.products_cart {
    width: 100%;
    margin-bottom: 2rem;
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: white;
}

.products_cart h2 {
    margin: 1.5rem 1rem;
}

.line {
    background-color: #dddddd;
    width: 100%;
    height: 0.1rem;
}


.products {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.card_prod {
    display: flex;
    width: 100%;
    margin: 1.5rem 1rem;
}

.prod_name {
    font-size: 1rem;
    color: #767676;
    margin-bottom: 1rem;
    font-weight: 600;
}

.image_block {
    width: 15%;
}

.info_prices {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.image_block img {
    width: 100%;
}

.info_prices table {
    width: 100%;
}

.table thead {
    width: 100%;
}

.table tbody {
    width: 100%;
}

.tr td {
    text-align: center;
}



.btn1 {
    width: 15%;
    border: none;
    cursor: pointer;
    margin: 1rem 0.5rem;
    border-bottom-left-radius: 0.6rem;
    border-top-left-radius: 0.6rem;
    color: white;
    background-color: black;
    font-size: 1.2rem;
}

.btn2 {
    width: 15%;
    border: none;
    cursor: pointer;
    margin: 1rem 0.5rem;
    border-bottom-right-radius: 0.6rem;
    border-top-right-radius: 0.6rem;
    color: white;
    background-color: black;
    font-size: 1.2rem;
}


.next_func {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}

.next_func button {
    width: 25%;
    font-family: Playfair Display;
    height: 2rem;
    border: none;
    font-size: 0.9rem;
    cursor: pointer;
    background-color: rgba(15, 15, 15, 1);
    transition-duration: 0.3s;
    color: white;
}


.next_func button:hover {
    background-color: white;
    color: black;
    transform: scale(1.1);
    transition-duration: 0.3s;
}

.buy_info {
    background-color: white;
    width: 28%;
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.buy_info h3 {
    margin: 1.5rem 0rem 1.5rem 1.5rem;
}

.itogo {
    margin: 0rem 0rem 1.5rem 1.5rem;
    display: flex;
}

.btn_oplata {
    width: 80%;
    display: flex;
    margin: auto;
}


.btn_oplata button {
    width: 100%;
    height: 2.3rem;
    cursor: pointer;
    font-size: 1.1rem;
    margin: 1.3rem 0rem;
    color: white;
    border: none;
    transition-duration: 0.3s;
    background-color: rgba(15, 15, 15, 1);
}

.btn_oplata a {
    width: 100%;
}

.btn_oplata button:hover {
    background-color: white;
    color: black;
    transition-duration: 0.3s;
}

.buy_main {
    display: flex;
    flex-direction: column;
}


.sposob_oplati {
    height: fit-content;
    width: 100%;
}