.contact_main {
    width: 100%;
    flex: 1 1 auto;
    font-family: "Playfair Display", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-image: url("https://storage.googleapis.com/theme-vessel-items/checking-sites/hotel-alpha-html/HTML/main/img/img-3.png");
    background-size: 100%;
    background-repeat: no-repeat;

}
.contactsTitle {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 6rem;
    color: white;

    h1 {
        font-size: 2.5rem;
        text-shadow: 0 2px 5px rgba(0, 0, 0, 50%);
        font-weight: 200;
    }
}

.contactsTitle1 {
    width: 100%;
    display: flex;
    justify-content: center;
}

.content_main {
    
    width: 100%;
    height: auto;
    display: flex;
    justify-content:space-evenly;
    margin: 15rem auto;
    

}

.address {
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    height: 45rem;
    background-color: #00486c;
    width: 45%;
    border: solid 1px black;
    border-radius: 20px;
    color: white;
    margin: 20px;
    .icon {
            color: rgb(206, 176, 113);
            font-size: 40px;
        }
    p {
        margin: 10px 0;
    }
}



.bloc_address {
    margin-left: 20px;
    h1 {
        font-size: 1.4rem;
    }
}

.icon_address {
    display: flex;
    margin: 10px;
}

.map {
    width: 45%;
}

.map_cart {
    width: 100%;
    height: 100%;
}
