.hostel_main {
    flex: 1 1 auto;
    width: 100%;
    color: white;
    height: 100vh;
    background-image: url("http://andrewch.eu/XENIA/assets/images/home-1.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #00486c;
    font-family: 'Playfair Display', serif;
}


.title {
    width: 100%;
    display: flex;
    display: flex;
    justify-content: center;
    margin-top: 3.3rem;
    margin-bottom: 1.5rem;
    h1 {
        font-size: 5.5rem;
        text-shadow: 0 2px 5px rgba(0, 0, 0, 50%);
    }
}

section {
    box-sizing: border-box;
    width: 50%;
    display: flex;
    justify-content: center;
    overflow: hidden;
  }