.main_menu {
    width: 100%;
    background-size: 100%;
    flex: 1 1 auto;
    background-repeat: no-repeat;
    background-image: url("http://www.elathemes.com/themes/colina/assets/images/header-1.jpg");
}

.wrapper {
    width: 100%;
    display: flex;
    margin-top: 19rem;
}

.categori {
    width: 30%;
    border: 1px solid black;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    button {
        font-size: 1rem;
        background-color: white;
        border: none;
        width: max-content;
    }

    input {
        width: 100%;
        height: 2rem;
        outline: none;
    }
}

.food {
    width: 70%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.cart_food {
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    width: 15rem;
    height: auto;
    
    img {
        width: 100%;
    }
    p {
        width: min;
        margin-top: 5px;
    }
}

.food_categori {
    color: rgb(206, 176, 113);
    margin-top: 2rem;
}

.btn_order {
    background-color: green;
    width:auto;
    color: white;
}