.main_res {
    width: 100%;
    background-size: 100%;
    flex: 1 1 auto;
    background-repeat: no-repeat;
    background-image: url("http://www.elathemes.com/themes/colina/assets/images/header-1.jpg");
}