* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


#root {
  height: 100%;
}

html,
body {
  height: 100%;
  font-size: 1rem;
  font-family: "Montserrat",sans-serif;
}


.App {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}


a {
  text-decoration: none;
}

li {
  list-style-type: none;
}